page-home {
    .bg {
        background-image: url('../assets/imgs/bg-captain.jpg');
        background-size: cover;
        background-position: center; 
    }
    .cart-deal {
        background-color:rgba(105, 105, 105, 0.3);
        .row-title {
            background-color: rgba(180, 38, 35, 0.3);
            color: white;
            text-align: center;
        }
        .row-content {
            font-size: 12px;
            color: rgb(161, 159, 159);
        }
    }
}
