<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-card class="cart-deal">
      <ion-grid>
          <ion-row class="row-title">
            <ion-col col-12>KHÁCH HÀNG VỪA GIAO DỊCH</ion-col>
          </ion-row>
          <ion-row class="row-content" *ngFor="let i of dataOrders">
            <ion-col col-5>{{ i.user.name }}</ion-col>
            <ion-col col-4 (click) = "detailProduct(i.id)" >Đã mua #{{ i.id }}</ion-col>
            <ion-col col-3>{{ i.total }}<sup>đ</sup> </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>
  
  <ion-card *ngFor="let i of dataProducts">

    <img src="/api/admin/product/image?name={{i?.image}}" />

    <ion-card-content>
      <ion-card-title>
        {{ i?.name }}
      </ion-card-title>
    </ion-card-content>

    <ion-item>
      <ion-icon name='code' item-start style="color: #d03e84"></ion-icon>
      Mã Acc
      <ion-badge item-end>#{{ i?.id }}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='pricetags' item-start style="color: #55acee"></ion-icon>
      Giá bán
      <ion-badge item-end>{{ i?.price }}
        <sup>đ</sup>
      </ion-badge>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button (click)="detailProduct(i?.id)" full ion-button ion-start>
            <ion-icon name="eye">&nbsp;</ion-icon>
            Chi tiết
          </button>
        </ion-col>
        <ion-col col-6>
          <button (click)="buyProduct(i)" full ion-button ion-end>
            <ion-icon name="cart">&nbsp;</ion-icon>Mua ngay
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Xem nhiều hơn..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>